@charset "UTF-8";

body,
html {
	height: 100%; /* for UI widgets */
}

	body {
		font-size: 16px;
	}

	@media (min-width: 768px) {
		body {
			font-size: 14px;
		}
	}


html { 
	margin-top: 0px !important; 
}

* html body { 
	margin-top: 0px !important; 
}

body > .container {
	min-width: 330px !important;
}


	body .container {
		width: 100% /*!important*/; 
	}
	
	@media (min-width: 480px) {
		body .container {
			width: 480px /*!important */;
		}
	}
	
	@media (min-width: 768px) {
		body .container {
			width: 740px;
		}
	}
	
	@media (min-width: 1000px) {
    
		body .container {
			width:1008px;
		}  
	}


	

#maincol {
	margin-bottom: 1em;
	 position: relative;
}

#maincol li {
	margin-bottom: 4px;
}

#maincol .wf_lining {
  padding-left: 30px;
  padding-right: 30px;
  border-top: 1px solid transparent;
  position: relative;
}

#rightcol {
    font-size: 0.85rem; /* BEWARE: Compounds if more than one selector matches! */
	line-height: 1.3;
}

#rightcol {
    background-color: transparent;
    border-radius: none;
    box-shadow: none;
    padding-bottom: 0.5rem;
}

#rightcol .wf_lining {
    margin-left: 15px;
    margin-right: 15px;
}

#rightcol h2 {
	/*font-size: 1rem;*/
	margin-top: 0.5rem;
	font-weight: bold;
}

#rightcol img {
  width: 100%;
}

#twocols #rightcol h2 {
  font-size: 1.2rem;
}

h1 {
	color: #666666; /* #377688; */
	clear: left;
	
}

h1, 
h2, 
h3, 
.title {
    line-height: 1.2;
}

h2.h1 {
	color: #377688;
	clear: left;
}

h1 {
	margin-bottom: 20px;
}

h3, h4, h5, h6 {
	font-weight: bold;
}

h4 {
	font-size: 1em;
}

a,
a:link,
a:hover,
a:visited,
a:active,
a:focus {
	color: #cf181d;
}

footer {
	text-align: center;
	font-size: 7px;
	font-size: 0.6rem;
	margin-top: 2em;
	position: relative;
	left: -30px;
	clear: both;
}

ul { /* not included in normalize.less */
	/* NB this mucks up ul.navbar-nav ! */
	margin: 0;
	padding: 0;
}

label {
	font-weight: normal;
}

ul, 
ol {
	margin-left: 15px;  /* WHY?????? **************/
}

img { /* From wingtheme2.css - Responsive images (ensure images don't scale beyond their parents) */

	max-width: 100%; /* Part 1: Set a maxium relative to the parent */
	width: auto\9; /* IE7-8 need help adjusting responsive images */
	height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretching */
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}







/* STANDARD STYLES ********************************************************************************************************************/

.clearboth {
	clear: both;
}

br.clearboth {
	clear: both;
	line-height: 1px;
	margin: 0;
	padding: 0;
}

.strike,
.done {
	text-decoration: line-through;	
}

.smallprint {
	font-size: 0.9em;
	color: #999;
	margin-top: 2em;
}

#maincol .intro {
	font-size: 1.2em;
}

/* from old bootstrap */
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.rounded_box,
#maincol .wf_lining {
  background-color: #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5em;
  padding-bottom: 0.5rem;
}


.rounded_box .hwrap,
.rounded_box .postwrap,
.green_box .hwrap,
.green_box .postwrap,
.white_box .hwrap,
.white_box .postwrap {
	margin-left: 20px;
	margin-right: 20px;
}

.list_widget .titles .title {
    font-size: 1.2em;
}

/* END OF STANDARD STYLES ********************************************************************************************************************/




#wp-admin-bar-wp-logo {
	display: none;
}

#wp-admin-bar-development > .ab-item {
	text-indent: -9000px;
	width: 20px;
}

#wp-admin-bar-development > .ab-item:before {
	content: '\f308';
	text-indent: 0px;
}


/* HEADER ********************************************************************************************************************/



#header {
	margin-top: 0px;
	position: relative;
	min-height: 75px;
}


/* the identifier for the dev site */
#header:after {
	font-size: 1em !important;
	top:75px !important;
	z-index: 200;
}

/* NAVBAR *******************************************************************************************/


#nav_wrapper {
	display: inline-block;
	margin: 0 0 5px 0px;
	background-color: #333333; /* #3B7589; */
	width: 100%;
	-moz-box-shadow: 0px 0px 5px 2px #F0F0F0;
	-webkit-box-shadow: 0px 0px 5px 2px #F0F0F0;
	box-shadow: 0px 0px 5px 2px #F0F0F0;
	float: none;
	clear: none;
	position: relative;
	top: 0;
	min-height: 28px;
	z-index: 100;
}

	#nav_wrapper {
		margin-top: -8px;
	}
	
	@media (min-width: 480px) {
		#nav_wrapper {
			top: -20px;
			margin: 0 0 5px 0px;
			margin-bottom: -15px;
			position: relative;
			z-index: 100;
		}
	}
	
		/*
		@media (min-width: 768px) {
			#nav_wrapper {
				top: -20px;
				margin-bottom: -15px;
			}
		}
		*/



/*
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
*/
/*
#navmain ul ul {
	display: none;
}
*/

.navbar { 
	border-radius: 0px;
	min-height: auto;
	filter: none;
    background-image: none;
}

.navbar .nav {
    font-weight: normal;
}

.navbar .nav > li {
	margin-right: 0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
	list-style: none;
}

.navbar .dropdown-menu {
  margin-top: 0px;
}

.navbar .nav > li > a {
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
	text-shadow: none;
	background-color: #333333; /* #3B7589; */
}

#navmain {
	max-width: 988px;
	margin-top: 3px;
}

.navbar-inner {
	background-color: transparent; /* was background: none; but didn't work in IE */
	background-image: none; /* was background: none; but didn't work in IE */
    border: none;
    box-shadow: none;
    min-height: 20px;
}

.navbar .nav > li.current_page_item > a,
.navbar .nav > li.current_page_ancestor > a {
	color: #000;
}

/*
#navmain a:hover {
	text-decoration: none;
}
*/

.navbar .nav > li.current_page_item > a,
body .navbar .nav > li > a {
	color: #ffffff;
}

#navmain > ul {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;	
}

.navbar .nav > li > a:hover,
.navbar .nav > li.current_page_ancestor > a,
.navbar .nav > li.current_page_item > a {
	background-color: #CF181D;
	color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	text-decoration: none;
	color: #ffffff;
	background-color: #333333; /* #3B7589; */
}

.dropdown-menu li.page_item {
	list-style-image: url(data:0);
	list-style-type: none !important;
	float: left;
	clear: left;
	width: 100%;
	margin-top: 0px;
	height: 25px;
	vertical-align: top;
	position: static;
	top: 0;
}

.dropdown-menu li.page_item a {
	margin-top: 0px;
	vertical-align: top;
	top: 0 !important;
}



/* NAVBAR USER **/

#navbar_user {
	float: right;
	/*font-size: 0.85rem;*/
	padding-left: 10px;
	padding-right: 10px;
}

#navbar_user p {
	margin-top: 3px;
	margin-bottom: 0;
}

#navbar_user a,
#navbar_user a:link,
#navbar_user a:hover,
#navbar_user a:visited,
#navbar_user a:active,
#navbar_user a:focus {
	color:#FFCC00;
}



/* END OF NAVBAR *******************************************************************************************/


#nav_container .navbar-toggle {
	float: none;
	margin-left: 20px;
}

.navbar-header {
    float: right;
	position: relative;
	z-index: 100;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-right: -10px;
	margin-left: -10px;
}

.navbar-collapse {
	border: none;
}

#navmain a {
	text-decoration: none;
}


.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.01s ease;
     -moz-transition: height 0.01s ease;
       -o-transition: height 0.01s ease;
          transition: height 0.01s ease;
}

.collapse.in {
  height: auto;
}


/* END OF HEADER ********************************************************************************************************************/





#maincol > .lining {
	position: relative;
}

.single-l4c h1 span,
.page h1 span,
.pre-title {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #377688;
}

.pre-title {
	float: left;
	margin-bottom: 0px;
	margin-right: 0px;
}



#twocols .reveal h3 {
	line-height: 20px;
	margin-top: 0;
}

.reveal i:before {
	content: "\f13a";
	width: 1.3em;
	font-family: FontAwesome;
	font-style: normal;
}

.reveal.closed i:before {
  content: "\f138";
  /*cursor: pointer;
  display: inline-block;
  float: left;*/
  width:1.3em;
}


.reveal {
	padding-top: 0.5em;
}

[class^="icon-"], 
[class*=" icon-"] {
	width: 1.2em;
}


h2.reveal_head {
	margin-top: 0px;
	margin-bottom: 0px;
}


.single-post #maincol .pre-title {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 16px;
}
.single-post .date {
	margin-top: 20px;
	float: right;
	margin-bottom: 0px;
}

.date .author {
	margin-left: 0.5em;
}

#user_panel {
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}


#user_panel p {
	margin: 0px;
}


ul.inline li {
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0;
	padding-left: 0;
}




/* FORM WIDGET ***************************************************************************/


.form_widget .fswrapper {
	float: none;
}

.form_widget .submit {
	position: relative;
	float: left;
}


/*
select {
	width: 100%;
}

.form_widget.region_right {
	background-color: #C5E1EA;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;	
}

.form_widget.region_right form {
	margin-bottom: 0px;
}

.form_widget.region_right .fswrapper {
	margin-left: 15px;
	margin-right: 14px;
}

.form_widget.region_right input,
.form_widget.region_right label,
.form_widget.region_right p {
	width: 100%;
	line-height: 1.2;
	height: auto;
}

.form_widget.region_right input {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 4px;
}

legend {
	font-size: 16px;
	line-height: 1.2;
	border: none;
	margin-top: 9px;
	margin-bottom: 5px;
}

#sharing legend {
	margin-top: 0px;
}

label {
	margin-bottom: 1px;
	position: relative;
}

label span,
#fsnote p span {
	font-size: 2em;
	color: #377688;
	position: absolute;
	left: -10px;
	top: -2px;
}
#fsnote p {
	position: relative;
	margin-top: 10px;
	color: #377688;
	clear: both;
	width: 90px;
}

#capchatextdiv {
	height: 40px;
	margin-top: 5px;
}

#capchatextdiv img {
	float: left;
	width: 80px;;
	margin-right: 5px;
}

#capchatextdiv input {
	float: right;
	width: 80px;
	margin-top: 5px;
}

fieldset {
	margin-right: 0px;
	padding-right: 0px;
}

.form_widget.region_right .submit {
	position: absolute;
	bottom: 10px;
	right: 15px;
	width: 100px;
	height: 20px;
}
*/

/* END OF FORM WIDGET ***************************************************************************/








#wpadminbar #wp-admin-bar-toggle_debug div.ab-item:hover {
	cursor: pointer;
	color: #2EA2CC !important;
}




.list_widget.region_right {
	padding-left: 15px;
}
.list_widget.region_right .title {
	font-size: 1.1em;
}
.list_widget.region_right .date {
	font-size: 0.9em;
}






.field {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.field label {
	width: 32%;
	float: left
}
.field input {
	width: 32%;
	float: left;
	margin-bottom: 0px;
	display: block;
}


.field .clearboth {
	margin: 0px;
	line-height: 0.1;
}

.field .description {
	margin-left: 32%;
	margin-bottom: 0px;
	font-size: 0.8em;
	font-style: italic;
	clear: left;
}



#right_stuff {
	position: relative;
}


.wf_post {
	margin-bottom: 2em;
}





.region_bottom {
	margin-top: 6em;
}

.region_bottom textarea {
	width: 97%;
	height: 100px;
}




.single-attachment h1 {
	display: none;
}







/* COPIED FROM l4c_admin.css  ***************************************************************/


h2 .wf_help_link,
h3 .wf_help_link {
	font-size: 16px;
}

.wf_help_side i {
    color: #0074a2;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 10px;
    width: 20px;
}

.wf_help_link {
    color: #0074a2;
    cursor: pointer;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    right: 0px;
    position: absolute;
    text-decoration: inherit;
    top: 2px;
}

.wf_help_side i {
    position: absolute;
    height: 20px;
    width: 20px;
	right: 30px;
	top: 10px;
	color: #0074a2;
	cursor: pointer;
}

.wf_help_side .help_popup i {
	right: 5px;
	top: 5px;
}

.help_popup {
	font-family: "Open Sans",​sans-serif;
	font-style: normal;
	position: absolute;
	width: 200px;
	background-color: #EEEEEE;
	border-radius: 6px;
	padding: 10px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
	left: -500px;
	top: -4px;
	z-index: 10000;
	color: #333;
	line-height: 1.5;
}

#twocols .help_popup p {
	font-size: 11.05px;
	font-family: Exasap,Helvetica,Arial,sans-serif !important;
}

.wf_help_side .help_popup {
	left: -465px;
	top: -8px;
}

h2 .help_popup,
h3 .help_popup {
	right: 40px;
	left: auto;
	top: -10px;
}

.help_popup span {
	position: absolute;
	top: 10px;
	right: -20px;
	background-image: url(../images/grey_pointer.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 20px;
}

.help_popup h4 {
    margin-top: 0px;
	margin-bottom: 2px;
	font-size: 1.1em;
}

.help_popup .close {
    line-height: 1;
    padding: 0px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
}

.help_popup .close i {
    margin-left: 5px;
	color: #000 !important;
}







/* MEDIA QUERIES ***************************************************/

	/*
	@media (min-width:992px) {
		
		.container {
			width:1008px;
		}  
	}
	*/

@media (min-width:768px) {
	/*
	#navmain li.dropdown:hover > ul.dropdown-menu {
	  display: block;
	}
	*/
	.dropdown-menu li.page_item:before,
	.dropdown-menu li.page_item:after {
		display: none !important;
	}
	
	#navmain .navbar-nav > .open > a,
	#navmain .navbar-nav > .open > a:hover {
		background-color: #cf181d;
		color: #FFF;
	}
	
}



@media (min-width: 768px) and (max-width: 999px) {
	
		/*	
		#nav_wrapper {
			top: -20px;
			margin-bottom: -15px;
		}
		*/
	
		/*
		.container,
		#navmain,
		#header_lining {
			width: 740px;
		}
		*/
	
	
	
	#maincol,
	#maincol .wf_widget {
		margin-bottom: 0px;
	}
	

	
	#header_lining {
		position: relative;
	}
	
		
}


@media (max-width: 767px) {
	
	
	
	#twocols #rightcol {
		font-size: 0.8rem;
	}
	
		
		/*
		#nav_wrapper {
			top: -20px;
			margin-bottom: -15px;
			position: relative;
			z-index: 100;
		}
		*/
	
		/*		
		body .container {
			width: 480px !important;
		}
		*/
		
	body {
		padding: 0;
	}
	
		
	#rightcol {
		margin-top: 10px;
	}
		
	#maincol > .wf_lining {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	
	
		
	.navbar-header {
		float: none;
	}
	
	li.page_item {
		clear: left;
	} 
	
	#navmain .dropdown-menu > li > a {
		color: #FFF;
	}
	
	.dropdown-menu {
		padding: 0px;
	}
	
	/*
	#navmain .dropdown-menu > li > a:hover {
		color: #FFF;
	}
	*/
	
	#navmain a {
		display: block;
		background-color: transparent;
		color: #FFF;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	#navmain a:hover {
		background-color: #777777;
		color: #FFF;
	}
	
	.navbar-nav > li {
		background-color: #666666;
		border-top: 1px solid #999999;
	}
	
	.navbar-nav .open .dropdown-menu > li > a {
		border-top: 1px dotted #777777;
	}
	
	.navbar-nav > li:first-child {
		border-top: 1px solid #999999;
	}
	.navbar-nav > li:last-child,
	.navbar-nav > li:last-child li:last-child {
		border-bottom: 1px solid #999999;
	}
	
	#navmain .navbar-nav li {
		background-color: #666666;
		height: auto !important;
		border-left: none;
		border-right: none;
	}
	
	#navmain .navbar-nav {
		border: none;
		margin-top: 0px;
		padding-bottom: 10px;
	}
	
	#nav_wrapper .container {
		padding-bottom: 10px;
	}
	
	.container > .navbar-collapse {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	#navmain .current_page_parent.dropdown:not(.open) a,
	#navmain .current_page_parent.dropdown:not(.open) a:hover,
	#navmain .current_page_item a,
	#navmain .current_page_item a:hover {
		background-color: #333333;
	}
	
	#nav_wrapper .navbar-toggle,
	#nav_wrapper .navbar-toggle:hover {
		background-color: #cf181d;
		color: #FFF;
		padding: 4px 12px;
		margin-bottom: -4px;
	}
	
	#navmain:not(.collapse) {
   		margin-top: 0px;
	}
	
	
	
	#navbar_user p {
		margin-top: 0px;
	}
	
	#nav_container .button {
		display: inline-block;
		background-color:#CCC;

		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		margin-bottom: 8px;
		margin-right: 10px;
		margin-top: 8px;
		padding: 9px 10px;
		position: relative;
	}
	
	#nav_container .navbar-toggle:not(.collapsed) {
		padding-bottom: 20px;
		margin-bottom: -1px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	
	
}

