@charset "UTF-8";

body,
html {
	height: 100%; /* for UI widgets */
}

html { 
	margin-top: 0px !important; 
}

* html body { 
	margin-top: 0px !important; 
}

body > .container {
	min-width: 330px !important;
}

#maincol {
	margin-bottom: 1em;
	 position: relative;
}

#maincol li {
	margin-bottom: 4px;
}

#maincol .wf_lining {
  padding-left: 30px;
  padding-right: 30px;
  border-top: 1px solid transparent;
  position: relative;
}

#rightcol,
.home #row1,
.home #row2,
.home #row3 {
    font-size: 0.85rem; /* BEWARE: Compounds if more than one selector matches! */
	line-height: 1.3;
}

#rightcol {
    background-color: transparent;
    border-radius: none;
    box-shadow: none;
    padding-bottom: 0.5rem;
}

#rightcol .wf_lining {
    margin-left: 15px;
    margin-right: 15px;
}

#rightcol h2 {
	/*font-size: 1rem;*/
	margin-top: 0.5rem;
	font-weight: bold;
}

#rightcol img {
  width: 100%;
}

#twocols #rightcol h2 {
  font-size: 1.2rem;
}

h1 {
	color: #666666; /* #377688; */
	clear: left;
	
}

h1, 
h2, 
h3, 
.title {
    line-height: 1.2;
}

h2.h1 {
	color: #377688;
	clear: left;
}

h1 {
	margin-bottom: 20px;
}

h3, h4, h5, h6 {
	font-weight: bold;
}

h4 {
	font-size: 1em;
}

a,
a:link,
a:hover,
a:visited,
a:active,
a:focus {
	color: #cf181d;
}

footer {
	text-align: center;
	font-size: 7px;
	font-size: 0.6rem;
	margin-top: 2em;
	position: relative;
	left: -30px;
	clear: both;
}

ul { /* not included in normalize.less */
	/* NB this mucks up ul.navbar-nav ! */
	margin: 0;
	padding: 0;
}

label {
	font-weight: normal;
}

ul, 
ol {
	margin-left: 15px;  /* WHY?????? **************/
}

img { /* From wingtheme2.css - Responsive images (ensure images don't scale beyond their parents) */

	max-width: 100%; /* Part 1: Set a maxium relative to the parent */
	width: auto\9; /* IE7-8 need help adjusting responsive images */
	height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretching */
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}







/* STANDARD STYLES ********************************************************************************************************************/

.clearboth {
	clear: both;
}

br.clearboth {
	clear: both;
	line-height: 1px;
	margin: 0;
	padding: 0;
}

.strike,
.done {
	text-decoration: line-through;	
}

.smallprint {
	font-size: 0.9em;
	color: #999;
	margin-top: 2em;
}

#maincol .intro {
	font-size: 1.2em;
}

/* from old bootstrap */
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.rounded_box,
#maincol .wf_lining {
  background-color: #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5em;
  padding-bottom: 0.5rem;
}

.l4c_green {
	background-color: #377688;
}

.l4c_dk_green {
	background-color: #174f62;
}

.l4c_green,
.l4c_dk_green {
	color:#FFFFFF;
}

.l4c_green a,
.l4c_green a:link,
.l4c_green a:visited,
.l4c_green a:hover,
.l4c_green a:active,
.l4c_dk_green a,
.l4c_dk_green a:link,
.l4c_dk_green a:visited,
.l4c_dk_green a:hover,
.l4c_dk_green a:active{
	color:#FC0;
}

.green_box a,
.green_box a:link,
.green_box a:visited,
.green_box a:hover,
.green_box a:active {
	color:#FC0;
}

.white_box {
    background-color: #FFFFFF;
    border-radius: 6px;
    padding-bottom: 20px;
    padding-top: 5px;
	margin-bottom: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

#rightcol .green_box {
	border-radius: 6px;
	color: white;
	background-color: #377688;
	padding-top: 5px;
	padding-bottom: 20px;
}

.rounded_box .hwrap,
.rounded_box .postwrap,
.green_box .hwrap,
.green_box .postwrap,
.white_box .hwrap,
.white_box .postwrap {
	margin-left: 20px;
	margin-right: 20px;
}

.list_widget .titles .title {
    font-size: 1.2em;
}

/* END OF STANDARD STYLES ********************************************************************************************************************/




#wp-admin-bar-wp-logo {
	display: none;
}

#wp-admin-bar-development > .ab-item {
	text-indent: -9000px;
	width: 20px;
}

#wp-admin-bar-development > .ab-item:before {
	content: '\f308';
	text-indent: 0px;
}


/* HEADER ********************************************************************************************************************/

div.l4cg_logo {
	clear: right;
	float: right;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-top: 10px;
}

#headrow img {
	float: left;
	margin-right: 20px;
}

#topnav {
    font-size: 0.8em;
    margin: 10px 0 5px 0;
	text-align: right;
	width: auto;
	display: block;
}

#topnav li {
	text-align: right;
	display: inline-block;
}

.region_topnav {
	width: 220px;
	float: right;
}

#l4c_logo {
	float: left;
	position: relative;
	top: -20px;
}

#header {
	margin-top: 0px;
	position: relative;
	min-height: 75px;
}

#strapline {
	line-height: 1.1;
	position: relative;
	/*top: 10px;*/
	color: #377688; /* #377688 is official h1 colour. R had #3B7589  #234E5C  #174F62 = v dark */
	font-size: 1.6em;
	margin-left: 0px;
	width: 5em; /* introduced with "Connect. Access. Resource." */
}

#lfc_headpic, 
#l4c_logo {
	float: left;
	position: relative;
	top: 10px;
}

#l4c_logo {
	top: 6px;
}
#l4c_logo img {
	width: 180px;
}


#lfc_headpic {
	top: 15px;
}

/* the identifier for the dev site */
#header:after {
	font-size: 1em !important;
	top:75px !important;
	z-index: 200;
}

/* NAVBAR *******************************************************************************************/


#nav_wrapper {
	display: inline-block;
	margin: 0 0 5px 0px;
	background-color: #333333; /* #3B7589; */
	width: 100%;
	-moz-box-shadow: 0px 0px 5px 2px #F0F0F0;
	-webkit-box-shadow: 0px 0px 5px 2px #F0F0F0;
	box-shadow: 0px 0px 5px 2px #F0F0F0;
	float: none;
	clear: none;
	position: relative;
	top: 0;
	min-height: 28px;
}

/*
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
*/
/*
#navmain ul ul {
	display: none;
}
*/

.navbar { 
	border-radius: 0px;
	min-height: auto;
	filter: none;
    background-image: none;
}

.navbar .nav {
    font-weight: normal;
}

.navbar .nav > li {
	margin-right: 0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
	list-style: none;
}

.navbar .dropdown-menu {
  margin-top: 0px;
}

.navbar .nav > li > a {
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
	text-shadow: none;
	background-color: #333333; /* #3B7589; */
}

#navmain {
	max-width: 988px;
	margin-top: 3px;
}

.navbar-inner {
	background-color: transparent; /* was background: none; but didn't work in IE */
	background-image: none; /* was background: none; but didn't work in IE */
    border: none;
    box-shadow: none;
    min-height: 20px;
}

.navbar .nav > li.current_page_item > a,
.navbar .nav > li.current_page_ancestor > a {
	color: #000;
}

/*
#navmain a:hover {
	text-decoration: none;
}
*/

.navbar .nav > li.current_page_item > a,
body .navbar .nav > li > a {
	color: #ffffff;
}

#navmain > ul {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;	
}

.navbar .nav > li > a:hover,
.navbar .nav > li.current_page_ancestor > a,
.navbar .nav > li.current_page_item > a {
	background-color: #CF181D;
	color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	text-decoration: none;
	color: #ffffff;
	background-color: #333333; /* #3B7589; */
}

.dropdown-menu li.page_item {
	list-style-image: url(data:0);
	list-style-type: none !important;
	float: left;
	clear: left;
	width: 100%;
	margin-top: 0px;
	height: 25px;
	vertical-align: top;
	position: static;
	top: 0;
}

.dropdown-menu li.page_item a {
	margin-top: 0px;
	vertical-align: top;
	top: 0 !important;
}



/* NAVBAR USER **/

#navbar_user {
	float: right;
	font-size: 0.85rem;
	padding-left: 10px;
	padding-right: 10px;
}

#navbar_user p {
	margin-top: 3px;
	margin-bottom: 0;
}


/* END OF NAVBAR *******************************************************************************************/


.navbar-toggle {
	float: none;
	margin-left: 10px;
}

.navbar-header {
    float: right;
	position: relative;
	z-index: 100;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-right: -10px;
	margin-left: -10px;
}

.navbar-collapse {
	border: none;
}

#navmain a {
	text-decoration: none;
}


/* END OF HEADER ********************************************************************************************************************/








.gmnoprint img { 
	max-width: none; 
}

.region_group_map {
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 10px;
	float: right;
}

#maincol > .lining {
	position: relative;
}

.single-l4c h1 span,
.page h1 span,
.pre-title {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #377688;
}

.pre-title {
	float: left;
	margin-bottom: 0px;
	margin-right: 0px;
}

.l4ca_select_group {
	display: inline-block;
	font-size: 12px;
	float: right;
}
.l4ca_select_group a {
	font-family: AmbleBold,Helvetica,Arial,sans-serif;
	font-weight: normal;
}



#twocols .reveal h3 {
	line-height: 20px;
	margin-top: 0;
}

.reveal i:before {
	content: "\f13a";
	width: 1.3em;
	font-family: FontAwesome;
	font-style: normal;
}

.reveal.closed i:before {
  content: "\f138";
  /*cursor: pointer;
  display: inline-block;
  float: left;*/
  width:1.3em;
}

.the-2015-fair-ten-challenge-questions .reveal i:before {
	margin-right: 10px;
}


.the-2015-fair-ten-challenge-questions h2 {
	margin-top: 2em;
	font-weight: bold;
}

.the-2015-fair-ten-challenge-questions .reveal_tail {
	padding: 20px;
	background-color:#FFF2B9;
}


.reveal {
	padding-top: 0.5em;
}

[class^="icon-"], 
[class*=" icon-"] {
	width: 1.2em;
}

#quick_links .reveal_tail li {
	list-style: none;
	margin-left: -0.2em;
}

h2.reveal_head {
	margin-top: 0px;
	margin-bottom: 0px;
}

#coming_up ul {
	list-style: none;
	margin-left: 0;
}

#coming_up .date,
.listing_page .date {
	font-size: 0.8em;
	margin-bottom: 0;
	margin-top: 5px;
}

#coming_up .title {
	font-weight: bold;
}

#coming_up h3 {
	font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}

#coming_up .date .action_event {
	float: right;
	display: inline-block;
	color: #FFF;
	background-color: #900;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 8px;
	padding: 2px;
	padding-bottom: 1px;
	margin-top: 2px;
}

#people_who,
#quick_links,
#coming_up,
#skill_level_panel {
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
	padding-top: 0.1rem;
	margin-bottom: 1em;
}

.single-post #maincol .pre-title {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 16px;
}
.single-post .date {
	margin-top: 20px;
	float: right;
	margin-bottom: 0px;
}

.date .author {
	margin-left: 0.5em;
}

#user_panel,
#involve_right {
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

#involve_right {
	padding-bottom: 0px;
}

#twocols .ui-state-default {
	color: #333 !important;
}

#user_panel p {
	margin: 0px;
}

#involve_right h3 {
	margin-top: 3px;
	margin-bottom: 3px;
}

ul.inline li {
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0;
	padding-left: 0;
}




/* FORM WIDGET ***************************************************************************/

/*
select {
	width: 100%;
}

.form_widget.region_right {
	background-color: #C5E1EA;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;	
}

.form_widget.region_right form {
	margin-bottom: 0px;
}

.form_widget.region_right .fswrapper {
	margin-left: 15px;
	margin-right: 14px;
}

.form_widget.region_right input,
.form_widget.region_right label,
.form_widget.region_right p {
	width: 100%;
	line-height: 1.2;
	height: auto;
}

.form_widget.region_right input {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 4px;
}

legend {
	font-size: 16px;
	line-height: 1.2;
	border: none;
	margin-top: 9px;
	margin-bottom: 5px;
}

#sharing legend {
	margin-top: 0px;
}

label {
	margin-bottom: 1px;
	position: relative;
}

label span,
#fsnote p span {
	font-size: 2em;
	color: #377688;
	position: absolute;
	left: -10px;
	top: -2px;
}
#fsnote p {
	position: relative;
	margin-top: 10px;
	color: #377688;
	clear: both;
	width: 90px;
}

#capchatextdiv {
	height: 40px;
	margin-top: 5px;
}

#capchatextdiv img {
	float: left;
	width: 80px;;
	margin-right: 5px;
}

#capchatextdiv input {
	float: right;
	width: 80px;
	margin-top: 5px;
}

fieldset {
	margin-right: 0px;
	padding-right: 0px;
}

.form_widget.region_right .submit {
	position: absolute;
	bottom: 10px;
	right: 15px;
	width: 100px;
	height: 20px;
}
*/

/* END OF FORM WIDGET ***************************************************************************/








#wpadminbar #wp-admin-bar-toggle_debug div.ab-item:hover {
	cursor: pointer;
	color: #2EA2CC !important;
}


.comments_widget.region_right {
	margin-top: 30px;
	margin-bottom: 10px;
}

.comments_widget .avatar {
	height: 30px;
	width: 30px;
	float: left;
	margin-right: 5px;
}

.comments_widget p {
	margin-left: 35px;
}

.comments_widget .com_content {
	font-size: 0.7rem;
}

.comment_form_widget .logged-in-as {
	display: none;
}





.slideshow_widget {
	border-radius: 6px;
	overflow: hidden;
}

.list_widget.region_right {
	padding-left: 15px;
}
.list_widget.region_right .title {
	font-size: 1.1em;
}
.list_widget.region_right .date {
	font-size: 0.9em;
}

#TB_iframeContent {
	height: 400px !important;
}






.three_column label {
	display: inline-block;
	width: 24%; /* 32%; */
}

.three_column {
	margin-left: 15px;
	margin-right: 0px;
	margin-bottom: 25px;
}

.field {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.field label {
	width: 32%;
	float: left
}
.field input {
	width: 32%;
	float: left;
	margin-bottom: 0px;
	display: block;
}


.field .clearboth {
	margin: 0px;
	line-height: 0.1;
}

.field .description {
	margin-left: 32%;
	margin-bottom: 0px;
	font-size: 0.8em;
	font-style: italic;
	clear: left;
}


#under_title p {
	font-size: 0.9em;
	margin-bottom: 2px;
	display: inline-block;
	padding-left: 0px;
}

#online_head {
	margin-right: 0.5em;
}

#online {
	margin-left: 0px;
}

#online li {
	display: inline-block;
	margin-right: 0.5em;
}

#summary ul {
	margin-left: 10px;
	margin-bottom: 0px;
}

.single-l4c_group .boast {
	display: none;
}

#right_stuff {
	position: relative;
}

#right_stuff .l4cg_logo img {
	height: 50px;
	width: auto;
}

#right_stuff .l4cg_logo {
	margin-top: 0px;
}

.wf_post {
	margin-bottom: 2em;
}

.blog #maincol .post .title {
	color: #377688;
	font-size: 33px;
	font-weight: normal;
}

#group_edit_link {
	float: right;
	background-color: #C00;
	color: #FFF;
	border-radius: 4px;
	padding: 2px 4px;
	display: block;
}







.region_bottom {
	margin-top: 6em;
}

.region_bottom textarea {
	width: 97%;
	height: 100px;
}




.single-attachment h1 {
	display: none;
}







/* COPIED FROM l4c_admin.css  ***************************************************************/


h2 .wf_help_link,
h3 .wf_help_link {
	font-size: 16px;
}

.wf_help_side i {
    color: #0074a2;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 10px;
    width: 20px;
}

.wf_help_link {
    color: #0074a2;
    cursor: pointer;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    right: 0px;
    position: absolute;
    text-decoration: inherit;
    top: 2px;
}

.wf_help_side i {
    position: absolute;
    height: 20px;
    width: 20px;
	right: 30px;
	top: 10px;
	color: #0074a2;
	cursor: pointer;
}

.wf_help_side .help_popup i {
	right: 5px;
	top: 5px;
}

.help_popup {
	font-family: "Open Sans",​sans-serif;
	font-style: normal;
	position: absolute;
	width: 200px;
	background-color: #EEEEEE;
	border-radius: 6px;
	padding: 10px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
	left: -500px;
	top: -4px;
	z-index: 10000;
	color: #333;
	line-height: 1.5;
}

#twocols .help_popup p {
	font-size: 11.05px;
	font-family: Exasap,Helvetica,Arial,sans-serif !important;
}

.wf_help_side .help_popup {
	left: -465px;
	top: -8px;
}

h2 .help_popup,
h3 .help_popup {
	right: 40px;
	left: auto;
	top: -10px;
}

.help_popup span {
	position: absolute;
	top: 10px;
	right: -20px;
	background-image: url(../images/grey_pointer.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 20px;
	height: 20px;
}

.help_popup h4 {
    margin-top: 0px;
	margin-bottom: 2px;
	font-size: 1.1em;
}

.help_popup .close {
    line-height: 1;
    padding: 0px;
    position: absolute;
    right: 5px;
    text-decoration: none;
    top: 5px;
}

.help_popup .close i {
    margin-left: 5px;
	color: #000 !important;
}







/* MEDIA QUERIES ***************************************************/

@media (min-width:992px) {
    
	.container {
     	width:1008px;
    }  
}


@media (min-width:768px) {
	/*
	#navmain li.dropdown:hover > ul.dropdown-menu {
	  display: block;
	}
	*/
	.dropdown-menu li.page_item:before,
	.dropdown-menu li.page_item:after {
		display: none !important;
	}
	
	#navmain .navbar-nav > .open > a,
	#navmain .navbar-nav > .open > a:hover {
		background-color: #cf181d;
		color: #FFF;
	}
	
}



@media (min-width: 768px) and (max-width: 991px) {
	
	#maincol #controls1,
	#maincol #controls2 {
		width: 193px;
	}
	
	.side_text {
		left: -195px;
		width: 150px;
	}
	
	#map_wrapper .side_text {
		left: -165px;
	}

	
	#under_title {
		width: 240px;
	}
	
	#people_who select {
		width: 198px;
	}

	#lfc_headpic {
		top: 5px;
		float: right;
	}
	
	#nav_wrapper {
		top: -20px;
		margin-bottom: -15px;
	}
	
	.container,
	#navmain,
	#header_lining {
		width: 740px;
	}
	
	
	
	#maincol,
	#maincol .wf_widget {
		margin-bottom: 0px;
	}
	
	#strapline {
		width: auto;
		/* margin-left: 200px; */
		/* top: 10px; */
		top: auto;
		font-size: inherit;
		position: absolute;
		left: 10px;
		bottom: 25px;
	}
	
	#header_lining {
		position: relative;
	}
	
	#topnav {
    	float: right; 
	}
	
	.region_topnav {
		width: auto;
		float: none;
	}
	
}


@media (max-width: 767px) {
	
	
	
	#twocols #rightcol {
		font-size: 0.8rem;
	}
	
	#disclaimer {
		top: 100px;
		left: 200px;
	}
	
	.white_box img {
		width: 100%;
		height: auto;
	}
	
	#nav_wrapper {
		top: -20px;
		margin-bottom: -15px;
		position: relative;
		z-index: 100;
	}
	
	#lfc_headpic {
		margin-left: 0px;
	}
	
	#lfc_headpic {
		top: 0px;
	}
		
	body .container {
		width: 480px !important;
	}
		
	body {
		padding: 0;
	}
	
	#under_title {
		width: 220px;
	}

	#l4c_logo {
		width: 30%;
		height: auto;
		margin-left: 10px;
	}
	
	#rightcol {
		margin-top: 10px;
	}
		
	#maincol > .wf_lining {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	
	#strapline {
		font-size: 1.2em;
		position: relative;
		top: 0px;
		width: auto;
	}
	.region_topnav {
		width: 290px;
		margin-left: 10px;
	}
	
	.navbar-header {
		float: none;
	}
	
	li.page_item {
		clear: left;
	} 
	
	#navmain .dropdown-menu > li > a {
		color: #FFF;
	}
	
	/*
	#navmain .dropdown-menu > li > a:hover {
		color: #FFF;
	}
	*/
	
	#navmain a {
		display: block;
		background-color: transparent;
		color: #FFF;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	#navmain a:hover {
		background-color: #377688;
		color: #FFF;
	}
	
	.navbar-nav > li {
		background-color: #6095a5;
		border-top: 1px solid #377688;
	}
	
	.navbar-nav > li:first-child {
		border-top: 1px solid #6095a5;
	}
	.navbar-nav > li:last-child,
	.navbar-nav > li:last-child li:last-child {
		border-bottom: 1px solid #6095a5;
	}
	
	#navmain .navbar-nav li {
		background-color: #6095a5;
		height: auto !important;
		border-left: none;
		border-right: none;
	}
	
	#navmain .navbar-nav {
		border: none;
		margin-top: 0px;
		padding-bottom: 10px;
	}
	
	#nav_wrapper .container {
		padding-bottom: 10px;
	}
	
	.container > .navbar-collapse {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	#navmain .current_page_parent.dropdown:not(.open) a,
	#navmain .current_page_parent.dropdown:not(.open) a:hover,
	#navmain .current_page_item a,
	#navmain .current_page_item a:hover {
		background-color: #cf181d;
	}
	
	#nav_wrapper .navbar-toggle,
	#nav_wrapper .navbar-toggle:hover {
		background-color: #cf181d;
		color: #FFF;
		padding: 4px 12px;
		margin-bottom: -4px;
	}
	
	#navmain:not(.collapse) {
   		margin-top: 12px;
	}
	
}

@media (max-width: 480px) {
	
	
	#maincol #controls1,
	#maincol #controls2 {
		width: 100%;
		margin-right: 0px;
	}
	
	#strapline {
		font-size: 1em;
	}
	
	.region_topnav {
		width: 60%;
	}
	
	#nav_wrapper {
		margin-top: -8px;
	}
	
	/*
	#navmain {
		max-width: 500px !important;
	}
	*/
	
	body .container {
		width: 100% !important;
	}

}